<nav class =" navbar navbar-dark bg-dark navbar-expand-lg">
    <div class = "container-fluid">
      <a class = "navbar-brand" href = "{% url 'home' %}">Tv Tracker <i class="fa-solid fa-film"></i></a>
      <button class="navbar-toggler" type = "button" data-bs-toggle = "collapse" data-bs-target = "#navbarSupportedContent" aria-controls = "navbarSupportedContent" aria-expanded = "false" aria-label = "Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id = "navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a class = "nav-link" href = "{% url 'genres_list' %}">Animes</a>
          </li>
          <li class = "nav-item">
            <a class = "nav-link" href = "{% url 'WIP' %}">Tv Shows</a>
          </li>
          <li class = "nav-item">
            <a class = "nav-link" href = "{% url 'WIP' %}">Movies</a>
          </li>
         
        </ul>

      
        <form class = "d-flex" action = "{% url 'anime_search' %}">
          <input class = "form-control me-2" type = "text" name = "search" placeholder = "Search" aria-label = "Search">
          <button class = "btn btn-outline-warning" type = "submit">Search</button>
          {% if user.is_authenticated %}
          <a href = "{% url 'signout' %}"><button type="button" class = "btn btn-warning">Log out </button></a>
          <a href = "{% url 'profile' %}"><button type="button" class = "btn btn-warning">My Profile</button></a>
          {% else %}  
          <a href = "{% url 'signin' %}"><button type="button" class = "btn btn-warning">Log In </button></a>
          <a href = "{% url 'signup' %}"><button type="button" class = "btn btn-warning">Register</button></a>
          {% endif %}
        </form>
      </div>
    </div>
  </nav>